.page-heading   {
    background-color: #2e6da4;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Calibri',sans-serif;
}

.side-title   {
    color:#2794C7;
    font-family:"Calibri",Arial,sans-serif;
}
