.main-box	{
	padding: 15px; 
	background: #fff; 
	max-width: 400px; 
	min-height: 350px;
	box-shadow:0px -1px 10px #999;
}

.control-label	{
	font-family: 'Calibri light', sans-serif;
    font-size: 16px;
}

